/*---------normilize---------*/
/* normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  padding: 0;
  margin: 0; }

/*---------Utilities---------*/
/*variables*/
/*neutral*/
/*body*/
/* Body */
body {
  font-family: 'Open Sans', sans-serif; }

html {
  box-sizing: box-boder;
  scroll-behavior: smooth;
  overflowY: hidden; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw; }

#mainWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column; }

/*---------Styles------------*/
header {
  background: #E3E2DF;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
  position: fixed;
  margin-top: 5rem; }
  header .scroll {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: cente;
    align-items: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    background: #1F2833;
    height: 100%; }
  header .hero-text {
    color: #F76C6C;
    width: 50%;
    height: 1px;
    text-align: center;
    margin-top: 3rem; }
    header .hero-text h3 {
      font-size: larger; }
      header .hero-text h3 .wrap {
        color: #fff; }
  header h1 {
    color: #fff;
    position: absolute;
    right: -159px;
    top: 50%;
    line-height: 39px;
    letter-spacing: 5px;
    font-variant: petite-caps;
    font-size: -webkit-xxx-large;
    font-weight: 900; }
    header h1 .dev {
      color: #F76C6C; }

/*header animation*/
.slide {
  animation: come-in .9s ease forwards; }

/*animation header*/
@keyframes come-in {
  to {
    transform: translateX(0); } }
#project {
  height: 40rem; }

/*nav*/
nav {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1; }
  nav h2 {
    position: absolute;
    left: 3rem;
    letter-spacing: 2px;
    font-weight: 800; }
  nav section {
    justify-content: space-around;
    padding: 2rem 6rem; }
    nav section button {
      font-size: .9em;
      font-variant: all-small-caps;
      color: #000000;
      border: none;
      font-weight: 300;
      cursor: pointer; }
    nav section a {
      text-decoration: none;
      margin: 1rem;
      font-size: medium;
      font-variant: all-small-caps;
      color: #1A1A1D; }
    nav section button:hover, nav section a:hover {
      color: #4E4E50; }

/*social desktop*/
.social {
  position: fixed;
  width: 1rem;
  height: 100vh;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem; }
  .social a {
    color: #1A1A1D;
    padding: 1rem; }
    .social a:hover {
      color: #4E4E50; }
    .social a i {
      font-size: 20px; }

#mail {
  display: none; }

/* Project*/
#project {
  position: absolute;
  top: 845px;
  background: #ffffff;
  width: 80vw;
  height: auto;
  min-height: 1482px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem; }
  #project button {
    margin-top: 2rem;
    border-radius: 6% 15%;
    width: 30%;
    height: 2.5rem;
    background-color: #1F2833;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .3rem;
    font-weight: 900;
    color: #fff; }
    #project button:hover {
      cursor: pointer;
      transform: scale(1.03);
      color: #F76C6C;
      box-shadow: 2px 9px 18px -7px #E3E2DF; }
    #project button:focus {
      outline: none; }

.section-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 0rem;
  letter-spacing: 10px;
  text-align: -webkit-center;
  font-weight: 900;
  font-size: xx-large; }
  .section-header .dev {
    font-size: 5rem;
    position: absolute;
    margin-left: 3rem;
    color: #F76C6C; }

.project {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: row; }
  .project img {
    max-width: 360px; }
  .project section {
    width: 40%;
    margin-left: 2rem;
    text-align: -webkit-center; }
    .project section p {
      font-family: "Montserrat", sans-serif;
      color: #4E4E50;
      font-size: 1.4em;
      line-height: 1.6;
      font-weight: 100;
      padding: 1rem; }
  .project .side-container a i {
    color: #1A1A1D;
    font-size: 25px;
    padding: .5rem; }
    .project .side-container a i:hover {
      color: #4E4E50; }

/*Modal*/
#modal {
  -webkit-overflow-scrolling: touch; }

.modal {
  position: fixed;
  z-index: 1;
  background: #fff;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  transition: 0.5s; }

.icon {
  margin: 1.5rem;
  margin-top: 2rem;
  display: block;
  text-align: -webkit-right;
  cursor: pointer; }
  .icon .bar1,
  .icon .bar2,
  .icon .bar3 {
    width: 40px;
    height: 2px;
    background: #000;
    margin: 6px 0;
    transition: 0.4s; }
  .icon .bar2 {
    background: none;
    font-variant: all-petite-caps;
    font-size: large;
    background: none;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -8px; }
  .icon:hover .bar1,
  .icon:hover .bar3 {
    background: #F76C6C; }
  .icon:hover .bar1 {
    -webkit-transform: rotate(-20deg) translate(-9px, 6px);
    transform: rotate(-40deg) translate(-14px, 8px); }
  .icon:hover .bar2 {
    opacity: 0; }
  .icon:hover .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(40deg) translate(-9px, -8px); }

#scroll-top {
  display: none;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  background-color: #1F2833;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  padding: .2rem; }
  #scroll-top:hover {
    background-color: #F76C6C; }

.modal-content {
  width: 90vw;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .modal-content .section-header {
    margin-top: 3rem; }

/*about */
#about {
  -webkit-overflow-scrolling: touch;
  background-color: #1F2833;
  color: #fff; }
  #about .modal-content {
    align-items: start; }
  #about h1 {
    font-size: -webkit-xxx-large;
    font-variant: all-small-caps;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: .7em;
    margin-bottom: .5rem; }
    #about h1 .name {
      color: #F76C6C; }
  #about h3 {
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    letter-spacing: .07em;
    line-height: 2em; }
    #about h3 span {
      color: #F76C6C; }
  #about .sub-name {
    font-variant: all-petite-caps;
    letter-spacing: .5em;
    font-size: 1.4em; }
  #about p {
    color: #4E4E50;
    font-variant: all-small-caps; }
  #about section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #about section h2 {
      width: 30%;
      letter-spacing: .07em;
      line-height: 2em;
      font-size: large; }
      #about section h2 span {
        color: #F76C6C; }
    #about section img {
      max-width: 400px; }
  #about .edu {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 70%; }
    #about .edu section {
      flex: 1;
      display: flex;
      flex-direction: column; }
      #about .edu section p {
        padding: 1rem;
        color: #fff; }
        #about .edu section p span {
          color: #F76C6C; }
      #about .edu section img {
        max-width: 60px; }
  #about .bar1,
  #about .bar3 {
    background-color: #fff; }
  #about .bar2 {
    color: #F76C6C; }
  #about .social {
    margin-top: -1rem;
    padding-left: 2rem;
    position: relative;
    margin: 0 auto; }
    #about .social a {
      color: #fff; }
      #about .social a:hover {
        color: #F76C6C; }

#skills {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 15rem;
  width: 80vw;
  margin-top: 2rem; }

.skills-header {
  position: absolute;
  left: 2rem;
  font-size: -webkit-xxx-large;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #1F2833; }
  .skills-header .text-div {
    color: #F76C6C; }

.sub-header {
  position: absolute;
  margin-top: 6rem;
  left: 2rem;
  width: 15rem;
  font-variant: all-petite-caps;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 1.3em; }

.skill-content {
  width: 80vw;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .skill-content div {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%; }
  .skill-content h2 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #F76C6C;
    font-size: 1.2em; }
  .skill-content section {
    width: 80%;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .skill-content section ul {
      list-style: none;
      padding: 2rem;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 1.4em; }
      .skill-content section ul li {
        padding: 1rem; }
        .skill-content section ul li span {
          font-variant-caps: petite-caps;
          font-size: medium;
          font-weight: 100;
          color: #F76C6C; }

/**/
.slideanim {
  visibility: hidden;
  visibility: visible\9;
  /*For old IE browsers IE6-8 */ }

.slideanim.slide {
  visibility: visible;
  animation: slide 1s; }

.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
#contact {
  background-color: #1F2833;
  width: 100vw;
  height: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -2rem;
  padding-bottom: 2rem; }
  #contact a {
    text-decoration: none;
    color: #fff;
    font-size: -webkit-xxx-large;
    font-weight: 900;
    font-variant: all-petite-caps; }
    #contact a:hover {
      transform: scale(1.05); }
  #contact section {
    width: 30%;
    display: flex;
    justify-content: space-evenly; }
    #contact section a {
      font-size: x-large; }

/*---------Mobile---------*/
@media only screen and (max-width: 768px) {
  /*general*/
  /*nav mobile*/
  nav h2 {
    left: 1rem; }
  nav section {
    padding: 1rem 0rem; }
    nav section a {
      font-size: 1.4em; }
    nav section button {
      font-size: 1.3em; }

  /*header mobile */
  header {
    width: 100vw; }

  .hero-text {
    margin-top: 0 !important;
    margin-left: .2rem; }

  /*projects*/
  #project {
    width: 100vw;
    padding: 0; }
    #project button {
      width: 90%; }

  .project {
    flex-direction: column;
    width: 70vw; }
    .project section {
      width: 100%;
      margin-left: 0; }
      .project section p {
        font-size: 1.4em;
        width: 90%; }
    .project .side-container i {
      font-size: 25px !important;
      padding: 1rem; }

  /*modal content mobile*/
  #modal .modal-content {
    width: 100vw;
    padding: 0rem; }

  /*skills mobile*/
  #skills {
    margin-top: -1rem; }
    #skills > * {
      left: 5rem; }

  .skill-content div {
    flex-direction: column; }
    .skill-content div ul {
      padding: 0rem;
      margin: .5rem;
      text-align: -webkit-center; }

  /*modal  about*/
  #about h3 {
    width: 90%;
    font-size: 1.3em; }
  #about .social {
    display: flex;
    flex-direction: row; }
  #about section {
    flex-direction: column;
    margin-top: 2rem; }
    #about section h2 {
      font-size: 1.4em;
      width: 100%;
      text-align: center; }
  #about .edu {
    flex-direction: column-reverse; }
    #about .edu section p {
      font-size: 1.3em; }

  /*social icons */
  .social {
    display: none; }

  /*mail contact mobile*/
  #contact section {
    width: 50%; }

  #mail {
    display: -webkit-inline-box; } }

/*# sourceMappingURL=main.css.map */
